a{
  text-decoration:none;
  color: #808080; 
  padding-left: 8px;
  padding-right: 8px;   
}	
}
html,body{
  height: 100%;
  background: #F1FFFF;
  overflow: hidden;
  background-image: url(../images/regbg.png);
}
#body{
  min-height: 100%;
}
#container{
 position:absolute;
 left: 0;
 top:  0;
 bottom: 0;
 right: 0;
 margin: auto;
 padding-bottom: 24px;					/*距离底部24px*/
 text-align: center;
}		
#logo{
 width: 600px;							/*宽度*/
 height: 90px;							/*高度*/
 border: 0px;							/*边线*/
 margin: auto;							/*会让此元素水平居中，注意：此元素垂直并不居中*/
 margin-top: 8%;
}	
#main{
  margin: auto;
  width: 600px;
  height: 400px;
  color: #000000;
  font-size: 24px;
  margin-top: 120px;
}
#footer{
  position: absolute;
  bottom: 0px;
  margin-top: -24px;                  /*使footer上浮24px*/
  margin-left: -16px;
  height: 24px;
  width: 100%;
  font-size: 12px;
  text-align: right;
  color: #808080;
  padding-bottom: 15px;
}