/*reset*/
a{
	text-decoration:none;
	color: #808080; 
	padding-left: 8px;
	padding-right: 8px;  	
} 	
}
html,body{
	height: 100%;
	background: #F1FFFF;
	overflow: hidden;
}
.split_header{
	padding-top:12px;
	width: 1000px;
	margin: 0 auto;
}
.nav_title{
	padding-bottom:10px;
	border-bottom:1px solid #C2C2C2;
	font-family:'微软雅黑';
	font-size:1.25em;
}
/*website icon*/
.register{
	padding:20px 20px 30px 0;
}
.input_lable{

}
.input{
	width:300px;
	font-size:.875em
	border:1px solid #c2c2c2;
	padding:2px 5px;
	vertical-align:
	middle;
	line-height:25px;
	height:25px;
}
.input:focus{
	border:1px solid #1A6BE6;
	-webkit-box-shadow:0 0 5px #1A6BE6;
	-moz-box-shadow:0 0 5px #1A6BE6;
	-o-box-shadow:0 0 5px #1A6BE6;
	-ms-box-shadow:0 0 5px #1A6BE6;
	box-shadow:0 0 5px #1A6BE6;/*向框添加一个或多个阴影*/
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
a.serviceterms{
	color:#404040;
	text-decoration:none;
	border-bottom:1px dashed #c2c2c2;
}
a.register_button{
	width: 310px;
	line-height:40px;
	font-size:1.25em;
	text-decoration:none;
	background:#699AFB;
	display:inline-block;
	text-align:center;
	color:#fff;
}
a.register_button:hover{
	background:#90CAFF;
}
a.register_button:active{
	background:#396AFF;
}
#footer{
	position: absolute;
	bottom: 0px;
	margin-top: -24px;          				/*使footer上浮24px*/
	margin-left: -16px;
	height: 24px;
	width: 100%;
	font-size: 12px;
	text-align: right;
	color: #808080;
	padding-bottom: 5px;
}